

//------------------------ Fonts

$f-brand: "effra", sans-serif;


//------------------------ Colors

$c-brand: #ffffff;

$c-grey1: #B0B0B0;
$c-grey2: #DDDDDD;
$c-grey3: #7D7D7D;
$c-grey4: #4D4D4D;
$c-grey5: #2F2F2F;
$c-grey-darkest: #1B1B1B;



//------------------------ Timings
$ani-speed: .4s;

